<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/output.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <!-- Swiper css -->
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" /> -->



</head>

<body class="bg-cyan-500 bg-gradient-to-r from-slate-400 ...">
    <!-- Start Header -->
    <header class=" pt-2 top-0 fixed z-40 w-full shadow-lg items-center ">
        <div class="container mx-auto md:relative md:flex-row gap-y-4 md:gap-y-0 top-navbar">
            <div class="flex h-[60px] justify-between">
                <!-- Start Hamburger Menu -->
                <div class="w-auto block md:hidden py-2">
                    <div class="w-10 h-10 items-center flex justify-center rounded-md">
                        <button id="hamburger" type="button" class="font-medium md:text-2xl text-lg ">
                            <i class="fa-solid fa-bars rounded-md "></i>
                        </button>
                    </div>
                </div>
                <!-- End Hamburger Menu -->
                <!-- logo -->
                <div class="flex justify-center md:justify-normal items-center">
                    <a href="#" class="font-semibold text-md md:text-xl lg:text-2xl"><img
                            src="../images/logo/logo aov.png" alt="" srcset="" class="w-24 object-cover"></a>
                </div>
                <!-- End Logo -->

                <!-- Navbar Menu -->
                <div class="flex items-center md:flex-row md:gap-x-10 md:gap-y-0">
                    <!-- List Menu dislpay MD -->
                    <div class="mx-3 hidden md:block md:self-stretch">
                        <ul id="menu" class="flex md:flex-row justify-center items-center h-full ">
                            <li class="mx-3 h-full">
                                <a href="index.html"
                                    class="h-full relative z-10 -mb-px flex items-center border-b-4 border-spacing-y-6 font-medium transition-colors duration-300 ease-out border-transparent hover:border-collapse hover:border-white hover:text-white gap-x-2 "><i
                                        class="fa-solid fa-house "></i>Beranda</a>
                            </li>
                            <li class="mx-3 h-full">
                                <a href="games.html"
                                    class="h-full relative z-10 -mb-px flex items-center border-b-4 border-spacing-y-6 font-medium transition-colors duration-300 ease-out border-transparent hover:border-collapse hover:border-white hover:text-white gap-x-2 "><i
                                        class="fa-solid fa-gamepad "></i>Games</a>
                            </li>
                            <li class="mx-3 h-full">
                                <a href="#_"
                                    class="h-full relative z-10 -mb-px flex items-center border-b-4 border-spacing-y-6 font-medium transition-colors duration-300 ease-out border-transparent hover:border-collapse hover:border-white hover:text-white gap-x-2"><i
                                        class="fa-solid fa-money-bill"></i>Transaksi</a>
                            </li>
                            <li class="mx-3 h-full">
                                <a href="#_"
                                    class="h-full relative z-10 -mb-px flex items-center border-b-4 border-spacing-y-6 font-medium transition-colors duration-300 ease-out border-transparent hover:border-collapse hover:border-white hover:text-white gap-x-2"><i
                                        class="fa-regular fa-newspaper"></i>Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hidden xl:block xl:w-auto xl:ml-7"></div>
                </div>
                <!-- End Navbar Menu -->

                <!-- Start Search, Login -->
                <div class=" h-full items-center flex gap-x-1 md:gap-x-2  gap-y-4 md:flex-row md:gap-y-0">
                    <!-- Search -->
                    <div
                        class="transition-colors duration-300 ease-out hover:text-white hover:bg-slate-600  w-10 h-10 items-center flex justify-center rounded-md focus:text-white focus:bg-slate-600">
                        <button id="searchBtn" type="button" class="font-medium md:text-2xl text-lg "><i
                                class="fa-solid fa-magnifying-glass"></i></button>
                     
                    </div>
                       <!-- Search Form -->
                       <div id="searchModal" class="modal hidden z-50">
                       <div class="w-screen h-screen fixed inset-0 bg-slate-700 bg-opacity-80 left-0 top-0 closeBtn"></div>
                       <form action=""
                       class="absolute -bottom-20 flex items-center self-end bg-slate-800 rounded-xl inset-0 mx-auto w-[300px] md:w-[600px] h-[50px] text-white">
                       <label for="nav-search" class="mx-2 pl-2">
                           <i class="fa-solid fa-magnifying-glass mr-2 "></i>
                       </label>
                       <input type="text" id="nav-search" placeholder="Search..."
                           class="outline-none w-full h-full placeholder:italic rounded-r-lg border-none bg-slate-800 focus:outline-none focus:ring-0 focus:border-0 hover:rounded-lg">
                   </form>
                </div>
                <!--  -->
                    <!--  Cart  -->
                    <div class=" ">
                        <a href="#" id="cart"
                            class="font-medium text-lg md:text-2xl hover:text-white hover:bg-slate-600 mr-2 w-10 h-10 items-center flex justify-center rounded-md focus:text-white focus:bg-slate-600"><i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                    <!-- User -->
                    <a href="login.html"
                        class="font-semibold transition-colors duration-300 ease-out hover:text-white hidden md:block text-md md:text-xl">Login</a>
                    <div class=" block md:hidden ">
                        <button id="menu-user" type="button"
                            class="font-medium text-lg md:text-xl hover:text-white hover:bg-slate-600 ml-2 w-10 h-10 items-center flex justify-center rounded-md focus:text-white focus:bg-slate-600"><i
                                class="fa-solid fa-user"></i></button>
                    </div>
                    <a href="register.html"
                        class="px-4 py-2 text-xs md:text-md font-bold text-white uppercase transition-all duration-150 bg-cyan-700 rounded shadow outline-none active:bg-emerald-600 hover:shadow-md focus:outline-none ease hidden md:block">
                        Daftar
                    </a>
                </div>

                <!-- End Search, Login -->
            </div>
        </div>

    </header>
    <!-- END Header -->

    <!-- Mobile Nav -->
    <!-- bg offcanvas -->
    <div
        class="bg-black hidden fixed  w-screen h-screen bg-opacity-85 md:hidden transition-all duration-500 ease-in-out z-40 background-offcanvas">
    </div>
    <!-- bg offcanvas -->
    <nav
        class="mnav bg-white fixed w-[300px]  h-screen -left-[300px] shadow-2xl md:hidden transition-all duration-300 ease-in-out z-50">

        <div class="btnNav w-8 h-8 relative -right-64 top-6 flex justify-center cursor-pointer transition-all  ">
            <button id="btnNavIcon" type="button" class="text-3xl ">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <!-- Logo, List -->
        <div class="px-12 flex flex-col gap-y-2 top-0 ">
            <!-- logo -->

            <a href="#" class="self-start font-medium pl-2 pt-7 "><img src="../images/logo/logo aov.png" alt=""
                    srcset="" class="w-24 object-cover 0"></a>

            <!-- List -->
            <ul>
                <li class="w-auto rounded-lg flex my-2">
                    <a href="index.html"
                        class="hover:text-white rounded-lg transition-all duration-300 w-full hover:bg-sky-500"><i
                            class="fa-solid fa-house pl-2"></i><span class="pl-2">Home</span></a>
                </li>
                <li class="w-auto rounded-lg flex my-2">
                    <a href="games.html"
                        class="hover:text-white rounded-lg transition-all duration-300 w-full hover:bg-sky-500"><i
                            class="fa-solid fa-gamepad pl-2"></i><span class="pl-2">Games</span></a>
                </li>
                <li class="w-auto rounded-lg flex my-2">
                    <a href="#"
                        class="hover:text-white rounded-lg transition-all duration-300 w-full hover:bg-sky-500"><i
                            class="fa-solid fa-money-bill pl-2"></i><span class="pl-2">Transaksi</span></a>
                </li>
                <li class="w-auto rounded-lg flex my-2">
                    <a href="#"
                        class="hover:text-white rounded-lg transition-all duration-300 w-full hover:bg-sky-500"><i
                            class="fa-regular fa-newspaper pl-2"></i><span class="pl-2">Blog</span></a>
                </li>
            </ul>
        </div>

    </nav>
    <!-- End Mobile Nav-->

    <!-- Start Hero Section -->
    <section class="hero top-0 bg-gray-300 relative pb-5">
        <div class="container mx-auto h-full pt-24 md:pt-[70px] md:pb-0 overflow-hidden">
            <!-- Start Text & Img -->
            <div class="flex flex-col md:flex-row items-center justify-between h-full z-10">
                <!-- Text -->
                <div class="hero-text md:w-[48%] text-center md:text-left md:justify-start">
                    <!-- Badge -->
                    <div
                        class="flex items-center py-[10px] px-3 w-max mb-[26px] mx-auto md:mx-0 bg-white rounded-full ">
                        <div class="uppercase text-base font-semibold text-orange-600">Nongki Ngopi Games</div>
                    </div>
                    <!-- Title -->
                    <h1 class="h1 mb-6 ">Top Up Game And Start Together</h1>
                    <!-- desc -->
                    <p class="mb-[42px] md:max-w-xl">A Place Top Up Game
                        fast, safe, reliable, legal</p>

                    <a href="#explore-now"
                        class="btn btn-sm bg-sky-500 gap-x-3 mx-auto md:mx-0 w-72 text-white hover:bg-sky-700 left-0"></i>Explore
                        Now <i class="fa-solid fa-arrow-right"></i></a>

                </div>
                <!-- Image -->
                <div class="hero-img hidden md:flex max-w-[814px] self-end">
                    <img src="../images/content/sectionHero2.png" alt=""
                        class="w-full h-full object-cover object-center drop-shadow-2xl">
                </div>
            </div>
            <!-- End Text & Img -->
        </div>
        <!-- Carousel -->
        <div
            class="swiper-container grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 pt-10 md:pt-24  md:-mt-36 relative overflow-hidden px-2 md:px-5">
            <div class="swiper-wrapper drop-shadow-xl ">
                <!-- Card Carousel 1 -->
                <div class="swiper-slide">
                    <div
                        class="card flex-row bg-clip-border bg-transparent text-white shadow-md relative min-h-36 w-full md:h-[216px] items-end overflow-hidden rounded-xl">
                        <img src="../images/content/car-1.png" alt="bg"
                            class="absolute inset-0 h-full w-full object-cover object-center" />
                        <div class="absolute inset-0 bg-gradient-to-r from-black/70 ..."></div>
                        <div class="relative flex flex-col pl-5 my-7 md:my-14">
                            <h4
                                class="block antialiased tracking-normal font-sans text-lg font-semibold leading-snug  md:text-2xl">
                                Nongki Top Up</h4>
                            <p class="block antialiased text-lg font-medium md:text-xl">Dapatkan 10% Promo <br />with
                                code: Glory10</p>
                        </div>
                    </div>
                </div>
                <!-- Card Carousel 2 -->
                <div class="swiper-slide">
                    <div
                        class="card flex-row bg-clip-border bg-transparent text-white shadow-md relative min-h-36 w-full md:h-[216px] items-end overflow-hidden rounded-xl">
                        <img src="../images/content/car-3.png" alt="bg"
                            class="absolute inset-0 h-full w-full object-cover object-center" />
                        <div class="absolute inset-0 bg-gradient-to-r from-black/70 ..."></div>
                        <div class="relative flex flex-col justify-end pl-5 my-7 md:my-14">
                            <h4
                                class="block antialiased tracking-normal text-lg font-semibold leading-snug md:text-2xl">
                                Ultimate $50K Winter Clash</h4>
                            <p class="text-lg font-medium md:text-xl">Join yhe frosty fray and <br class="" />
                                come out on top</p>
                        </div>
                    </div>
                </div>
                <!-- Card Carousel 3 -->
                <div class="swiper-slide">
                    <div
                        class="card flex-row bg-clip-border bg-transparent text-white shadow-md relative min-h-36 w-full md:h-[216px] items-end overflow-hidden rounded-xl">
                        <img src="../images/content/car-2.png" alt="bg"
                            class="absolute inset-0 h-full w-full object-cover object-center" />
                        <div class="absolute inset-0 bg-gradient-to-r from-black/70 ...0"></div>
                        <div class="relative flex flex-col justify-end pl-5 my-7 md:my-14">
                            <h4
                                class="block antialiased tracking-normal font-sans text-lg font-semibold leading-snug  md:text-2xl">
                                Nongki Top Up</h4>
                            <p class="text-lg font-medium  md:text-xl">Dapatkan 10% Promo <br /> with code: Glory10</p>
                        </div>
                    </div>
                </div>
                <!-- Card Carousel 4 -->
                <div class="swiper-slide">
                    <div
                        class="card flex-row bg-clip-border bg-transparent text-white shadow-md relative min-h-36 w-full md:h-[216px] items-end overflow-hidden rounded-xl">
                        <img src="../images/content/car-1.png" alt="bg"
                            class="absolute inset-0 h-full w-full object-cover object-center" />
                        <div class="absolute inset-0 bg-gradient-to-r from-black/70 ...0"></div>
                        <div class="relative flex flex-col justify-end pl-5 my-7 md:my-14">
                            <h4
                                class="block antialiased tracking-normal font-sans text-lg font-semibold leading-snug md:text-2xl">
                                Nongki Top Up</h4>
                            <p class="text-lg font-medium md:text-xl">Dapatkan 10% Promo <br /> with code: Glory10</p>
                        </div>
                    </div>
                </div>
                <!-- Card Carousel 5 -->
                <div class="swiper-slide">
                    <div
                        class="card flex-row bg-clip-border bg-transparent text-white shadow-md relative min-h-36 w-full md:h-[216px] items-end overflow-hidden rounded-xl">
                        <img src="../images/content/car-3.png" alt="bg"
                            class="absolute inset-0 h-full w-full object-cover object-center" />
                        <div class="absolute inset-0 bg-gradient-to-r from-black/70 ...0"></div>
                        <div class="relative flex flex-col justify-end pl-5 my-7 md:my-14">
                            <h4
                                class="block antialiased tracking-normal font-sans text-lg font-semibold leading-snug md:text-2xl">
                                Nongki Top Up</h4>
                            <p class="text-lg font-medium md:text-xl">Dapatkan 10% Promo <br /> with code: Glory10</p>
                        </div>
                    </div>
                </div>
                <!-- Card Carousel 6 -->
                <div class="swiper-slide">
                    <div
                        class="card flex-row bg-clip-border bg-transparent text-white shadow-md relative min-h-36 w-full md:h-[216px] items-end overflow-hidden rounded-xl">
                        <img src="../images/content/car-2.png" alt="bg"
                            class="absolute inset-0 h-full w-full object-cover object-center" />
                        <div class="absolute inset-0 bg-gradient-to-r from-black/70 ...0"></div>
                        <div class="relative flex flex-col justify-end pl-5 my-7 md:my-14">
                            <h4
                                class="block antialiased tracking-normal font-sans text-lg font-semibold leading-snug md:text-2xl">
                                Nongki Top Up</h4>
                            <p class="text-lg font-medium md:text-xl">Dapatkan 10% Promo <br /> with code: Glory10</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Add Pagination -->
            <div class="swiper-pagination"></div>
        </div>
    </section>
    <!-- END Hero Section -->

    <!-- Start Clients -->
    <section class="w-full pt-3 ">
        <div class="container mx-auto">
            <div class="flex justify-center items-center px-5 py-4 text-white ">
                <h2 class="text-lg md:text-xl font-semibold">Supported By</h2>
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-5 gap-x-4">
                <div class="w-full flex-auto md:w-auto md:flex-initial px-4 md:px-6 my-4 ">
                    <img src="/src/images/logo/company-1.png" alt="logo adome"
                        class="mx-auto w-32 h-auto object-cover object-center" />
                </div>
                <div class="w-full flex-auto md:w-auto md:flex-initial px-4 md:px-6 my-4  ">
                    <img src="/src/images/logo/company-2.png" alt="logo adome"
                        class="mx-auto w-32 h-auto object-cover object-center" />
                </div>
                <div class="w-full flex-auto md:w-auto md:flex-initial px-4 md:px-6 my-4">
                    <img src="/src/images/logo/company-3.png" alt="logo adome"
                        class="mx-auto w-32 h-auto object-cover object-center" />
                </div>
                <div class="w-full flex-auto md:w-auto md:flex-initial px-4 md:px-6 my-4">
                    <img src="/src/images/logo/company-4.png" alt="logo adome"
                        class="mx-auto w-32 h-auto object-cover object-center" />
                </div>
                <div class="w-full flex-auto md:w-auto md:flex-initial px-4 md:px-6 my-4">
                    <img src="/src/images/logo/company-5.png" alt="logo adome"
                        class="mx-auto w-32 h-auto object-cover object-center" />
                </div>
            </div>
        </div>
    </section>
    <!-- End Clients -->

    <!-- Section Rekomendasi Game -->
    <section class="w-full pt-16 md:pt-20 " id="explore-now">
        <div class="container mx-auto">
            <div class="flex justify-start py-4 text-white">
                <h2 class="h2 text-xl md:text-3xl font-semibold mb-5 drop-shadow-md"><i
                        class="fa-solid fa-heart mr-3"></i>Rekomendasi</h2>
            </div>
            <!-- Card Games -->
            <div class="grid text-center grid-cols-2 md:grid-cols-3 gap-3 justify-center ">
                <!-- Start Card 1 -->
                <a href="login.html" tabindex="0">
                    <div
                        class="w-auto flex-auto md:flex-initial px-4 md:px-4 items-center relative flex rounded-xl duration-300 ease-in-out hover:shadow-2xl hover:ring-2 hover:ring-primary-500 hover:ring-offset-2 hover:ring-offset-white md:gap-x-3 md:rounded-2x md:p-3 border-2 min-h-[100px] z-20">
                        <div class="absolute rounded-xl inset-0 bg-gradient-to-r from-black/70 ..."></div>
                        <img src="../images/logo/valorant.jpeg" alt="Game Logo"
                            class="relative aspect-square h-14 w-14 rounded-lg !object-cover !object-center md:h-20 md:w-20 md:rounded-xl left-0">
                        <div class="relative flex w-full flex-col text-white text-start justify-start pl-2">
                            <h4 class=" truncate text-xxs font-semibold  md:text-base">
                                Valorant</h4>
                            <p class="text-xxs md:text-sm">Riot Games</p>
                        </div>

                    </div>
                </a>
                <!-- End Card 1 -->
                <!-- Start Card 1 -->
                <a href="login.html" tabindex="0">
                    <div
                        class="w-auto flex-auto md:flex-initial px-4 md:px-4 items-center relative flex rounded-xl duration-300 ease-in-out hover:shadow-2xl hover:ring-2 hover:ring-primary-500 hover:ring-offset-2 hover:ring-offset-white md:gap-x-3 md:rounded-2x md:p-3 border-2 min-h-[100px] z-20">
                        <div class="absolute rounded-xl inset-0 bg-gradient-to-r from-black/70 ..."></div>
                        <img src="../images/logo/valorant.jpeg" alt="Game Logo"
                            class="relative aspect-square h-14 w-14 rounded-lg !object-cover !object-center md:h-20 md:w-20 md:rounded-xl left-0">
                        <div class="relative flex w-full flex-col text-white text-start justify-start pl-2">
                            <h4 class=" truncate text-xxs font-semibold  md:text-base">
                                Valorant</h4>
                            <p class="text-xxs md:text-sm">Riot Games</p>
                        </div>

                    </div>
                </a>
                <!-- End Card 1 -->
                <!-- Start Card 1 -->
                <a href="login.html" tabindex="0">
                    <div
                        class="w-auto flex-auto md:flex-initial px-4 md:px-4 items-center relative flex rounded-xl duration-300 ease-in-out hover:shadow-2xl hover:ring-2 hover:ring-primary-500 hover:ring-offset-2 hover:ring-offset-white md:gap-x-3 md:rounded-2x md:p-3 border-2 min-h-[100px] z-20">
                        <div class="absolute rounded-xl inset-0 bg-gradient-to-r from-black/70 ..."></div>
                        <img src="../images/logo/valorant.jpeg" alt="Game Logo"
                            class="relative aspect-square h-14 w-14 rounded-lg !object-cover !object-center md:h-20 md:w-20 md:rounded-xl left-0">
                        <div class="relative flex w-full flex-col text-white text-start justify-start pl-2">
                            <h4 class=" truncate text-xxs font-semibold  md:text-base">
                                Valorant</h4>
                            <p class="text-xxs md:text-sm">Riot Games</p>
                        </div>

                    </div>
                </a>
                <!-- End Card 1 -->
                <!-- Start Card 1 -->
                <a href="login.html" tabindex="0">
                    <div
                        class="w-auto flex-auto md:flex-initial px-4 md:px-4 items-center relative flex rounded-xl duration-300 ease-in-out hover:shadow-2xl hover:ring-2 hover:ring-primary-500 hover:ring-offset-2 hover:ring-offset-white md:gap-x-3 md:rounded-2x md:p-3 border-2 min-h-[100px] z-20">
                        <div class="absolute rounded-xl inset-0 bg-gradient-to-r from-black/70 ..."></div>
                        <img src="../images/logo/valorant.jpeg" alt="Game Logo"
                            class="relative aspect-square h-14 w-14 rounded-lg !object-cover !object-center md:h-20 md:w-20 md:rounded-xl left-0">
                        <div class="relative flex w-full flex-col text-white text-start justify-start pl-2">
                            <h4 class=" truncate text-xxs font-semibold  md:text-base">
                                Valorant</h4>
                            <p class="text-xxs md:text-sm">Riot Games</p>
                        </div>

                    </div>
                </a>
                <!-- End Card 1 -->
                <!-- Start Card 1 -->
                <a href="login.html" tabindex="0">
                    <div
                        class="w-auto flex-auto md:flex-initial px-4 md:px-4 items-center relative flex rounded-xl duration-300 ease-in-out hover:shadow-2xl hover:ring-2 hover:ring-primary-500 hover:ring-offset-2 hover:ring-offset-white md:gap-x-3 md:rounded-2x md:p-3 border-2 min-h-[100px] z-20">
                        <div class="absolute rounded-xl inset-0 bg-gradient-to-r from-black/70 ..."></div>
                        <img src="../images/logo/valorant.jpeg" alt="Game Logo"
                            class="relative aspect-square h-14 w-14 rounded-lg !object-cover !object-center md:h-20 md:w-20 md:rounded-xl left-0">
                        <div class="relative flex w-full flex-col text-white text-start justify-start pl-2">
                            <h4 class=" truncate text-xxs font-semibold  md:text-base">
                                Valorant</h4>
                            <p class="text-xxs md:text-sm">Riot Games</p>
                        </div>

                    </div>
                </a>
                <!-- End Card 1 -->
                <!-- Start Card 1 -->
                <a href="login.html" tabindex="0">
                    <div
                        class="w-auto flex-auto md:flex-initial px-4 md:px-4 items-center relative flex rounded-xl duration-300 ease-in-out hover:shadow-2xl hover:ring-2 hover:ring-primary-500 hover:ring-offset-2 hover:ring-offset-white md:gap-x-3 md:rounded-2x md:p-3 border-2 min-h-[100px] z-20">
                        <div class="absolute rounded-xl inset-0 bg-gradient-to-r from-black/70 ..."></div>
                        <img src="../images/logo/valorant.jpeg" alt="Game Logo"
                            class="relative aspect-square h-14 w-14 rounded-lg !object-cover !object-center md:h-20 md:w-20 md:rounded-xl left-0">
                        <div class="relative flex w-full flex-col text-white text-start justify-start pl-2">
                            <h4 class=" truncate text-xxs font-semibold  md:text-base">
                                Valorant</h4>
                            <p class="text-xxs md:text-sm">Riot Games</p>
                        </div>

                    </div>
                </a>
                <!-- End Card 1 -->


            </div>
            <!-- Card Games -->
        </div>
    </section>
    <!-- Section Rekomendasi Game -->

    <!-- Section Game Terlaris -->
    <section class="w-full pt-16 md:pt-20">
        <div class="container mx-auto">
            <div class="flex justify-start py-4 text-white mb-4">
                <h2 class="h2 text-lg md:text-3xl font-semibold"><i class="fa-solid fa-fire mr-3"></i>Game Terlaris</h2>
            </div>
            <!-- Card Games -->

            <div class="grid text-center grid-cols-2 md:grid-cols-4 gap-5 justify-between">
                <!-- card 1 -->
                <a href="" tabindex="0">
                    <div
                        class="relative grid grid-cols-1 bg-clip-border  text-gray-700 shadow-md w-auto min-h-[240px] md:h-[350px] items-center content-end border-4 border-white rounded-2xl">
                        <img src="../images/content/apex-legends.jpg" alt=""
                            class="absolute inset-0 h-full w-full object-cover object-center transition-all duration-300 ease-in-out hover:scale-105 rounded-xl" />
                        <div class="absolute inset-0 rounded-2xl bg-gradient-to-r from-black/70 ... "></div>
                        <div class="p-6 relative">
                            <div class="-mb-7 md:-mb-5">
                                <h4
                                    class="block text-md font-semibold bg-green-700 rounded-xl hover:bg-orange-400 mx-2 py-1 md:py-2 text-white ">
                                    Apex Legends
                                </h4>
                                <p class="block text-md text-white my-2 ">EA</p>
                            </div>

                        </div>

                    </div>
                </a>
                <!-- card 1 -->
                <!-- card 1 -->
                <a href="" tabindex="0">
                    <div
                        class="relative grid grid-cols-1 bg-clip-border  text-gray-700 shadow-md w-auto min-h-[240px] md:h-[350px] items-center content-end border-4 border-white rounded-2xl">
                        <img src="../images/content/apex-legends.jpg" alt=""
                            class="absolute inset-0 h-full w-full object-cover object-center transition-all duration-300 ease-in-out hover:scale-105 rounded-xl" />
                        <div class="absolute inset-0 rounded-2xl bg-gradient-to-r from-black/70 ... "></div>
                        <div class="p-6 relative">
                            <div class="-mb-7 md:-mb-5">
                                <h4
                                    class="block text-md font-semibold bg-green-700 rounded-xl hover:bg-orange-400 mx-2 py-1 md:py-2 text-white ">
                                    Apex Legends
                                </h4>
                                <p class="block text-md text-white my-2 ">EA</p>
                            </div>

                        </div>

                    </div>
                </a>
                <!-- card 1 -->
                <!-- card 1 -->
                <a href="" tabindex="0">
                    <div
                        class="relative grid grid-cols-1 bg-clip-border  text-gray-700 shadow-md w-auto min-h-[240px] md:h-[350px] items-center content-end border-4 border-white rounded-2xl">
                        <img src="../images/content/apex-legends.jpg" alt=""
                            class="absolute inset-0 h-full w-full object-cover object-center transition-all duration-300 ease-in-out hover:scale-105 rounded-xl" />
                        <div class="absolute inset-0 rounded-2xl bg-gradient-to-r from-black/70 ... "></div>
                        <div class="p-6 relative">
                            <div class="-mb-7 md:-mb-5">
                                <h4
                                    class="block text-md font-semibold bg-green-700 rounded-xl hover:bg-orange-400 mx-2 py-1 md:py-2 text-white ">
                                    Apex Legends
                                </h4>
                                <p class="block text-md text-white my-2 ">EA</p>
                            </div>

                        </div>

                    </div>
                </a>
                <!-- card 1 -->
                <!-- card 1 -->
                <a href="" tabindex="0">
                    <div
                        class="relative grid grid-cols-1 bg-clip-border  text-gray-700 shadow-md w-auto min-h-[240px] md:h-[350px] items-center content-end border-4 border-white rounded-2xl">
                        <img src="../images/content/apex-legends.jpg" alt=""
                            class="absolute inset-0 h-full w-full object-cover object-center transition-all duration-300 ease-in-out hover:scale-105 rounded-xl" />
                        <div class="absolute inset-0 rounded-2xl bg-gradient-to-r from-black/70 ... "></div>
                        <div class="p-6 relative">
                            <div class="-mb-7 md:-mb-5">
                                <h4
                                    class="block text-md font-semibold bg-green-700 rounded-xl hover:bg-orange-400 mx-2 py-1 md:py-2 text-white ">
                                    Apex Legends
                                </h4>
                                <p class="block text-md text-white my-2 ">EA</p>
                            </div>

                        </div>

                    </div>
                </a>
                <!-- card 1 -->
            </div>
            <!-- Card Games -->
        </div>
    </section>
    <!-- Section Game Terlaris -->

    <!-- Footer -->
    <footer class="p-4  sm:p-6 mt-20">
        <div class="mx-auto max-w-screen-xl">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="#" class="flex items-center">
                        <img src="../images/logo/logo aov.png" class="mr-3 h-8" alt="FlowBite Logo" />
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Nongi
                            TopUp</span>
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                        <ul class="text-gray-600 dark:text-gray-400">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Tailwin CSS</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Tailwind CSS</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                        <ul class="text-gray-600 dark:text-gray-400">
                            <li class="mb-4">
                                <a href="#" class="hover:underline ">Instagram</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Facebook</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                        <ul class="text-gray-600 dark:text-gray-400">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between">
                <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#"
                        class="hover:underline">NongkiTopUp</a>. All Rights Reserved.
                </span>
                <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white"> <i
                            class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white"> <i
                            class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white"> <i
                            class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white"><i
                            class="fa-solid fa-phone"></i>
                    </a>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->





    <!-- Material tailwind -->
    <!-- <script src="node_modules/@material-tailwind/html@latest/scripts/ripple.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script> -->
    <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>


    <script src="../assets/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/js/all.js"></script>
    <!-- Swiper Js -->

    <script src="../js/swiper-bundle.min.js"></script>
    <!-- Scroll Reveale -->
    <script src="../js/scrollreveal.min.js"></script>
    <!-- main js -->
    <script src="../js/script.js"></script>
    <!--  -->
    <script src="../js/carouselSwiper.js"></script>
    <script src="../js/accordion.js"></script>
    <script src="../js/anchorLink.js"></script>
    <script src="../js/modal.js"></script>
</body>

</html>