<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/output.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap" rel="stylesheet">
    <!-- Swiper css -->
    <link rel="stylesheet" href="../css/swiper-bundle.min.css">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"  rel="stylesheet" /> -->
    <script src="//unpkg.com/alpinejs" defer></script>



</head>

<body>
    <!-- Start Header -->
    <header class=" pt-2 top-0 fixed z-30 w-full shadow-lg items-center ">
        <div class="container mx-auto md:relative md:flex-row gap-y-4 md:gap-y-0 top-navbar">
            <div class="flex h-[60px] justify-between">
                <!-- Start Hamburger Menu -->
                <div class="w-auto block md:hidden py-2">
                    <div class="w-10 h-10 items-center flex justify-center rounded-md">
                        <button id="hamburger" type="button" class="font-medium md:text-2xl text-lg ">
                            <i class="fa-solid fa-bars rounded-md "></i>
                        </button>
                    </div>
                </div>
                <!-- End Hamburger Menu -->
                <!-- logo -->
                <div class="flex justify-center md:justify-normal items-center">
                    <a href="#" class="font-semibold text-md md:text-xl lg:text-2xl"><img
                            src="../images/logo/logo aov.png" alt="" srcset="" class="w-24 object-cover"></a>
                </div>
                <!-- End Logo -->

                <!-- Navbar Menu -->
                <div class="flex items-center md:flex-row md:gap-x-10 md:gap-y-0">
                    <!-- List Menu dislpay MD -->
                    <div class="mx-3 hidden md:block md:self-stretch">
                        <ul id="menu" class="flex md:flex-row justify-center items-center h-full ">
                            <li class="mx-3 h-full">
                                <a href="index.html"
                                    class="h-full relative z-10 -mb-px flex items-center border-b-4 border-spacing-y-6 font-medium transition-colors duration-300 ease-out border-transparent hover:border-collapse hover:border-white hover:text-white gap-x-2 "><i
                                        class="fa-solid fa-house "></i>Beranda</a>
                            </li>
                            <li class="mx-3 h-full">
                                <a href="games.html"
                                    class="h-full relative z-10 -mb-px flex items-center border-b-4 border-spacing-y-6 font-medium transition-colors duration-300 ease-out border-transparent hover:border-collapse hover:border-white hover:text-white gap-x-2 "><i
                                        class="fa-solid fa-gamepad "></i>Games</a>
                            </li>
                            <li class="mx-3 h-full">
                                <a href="#_"
                                    class="h-full relative z-10 -mb-px flex items-center border-b-4 border-spacing-y-6 font-medium transition-colors duration-300 ease-out border-transparent hover:border-collapse hover:border-white hover:text-white gap-x-2"><i
                                        class="fa-solid fa-money-bill"></i>Transaksi</a>
                            </li>
                            <li class="mx-3 h-full">
                                <a href="#_"
                                    class="h-full relative z-10 -mb-px flex items-center border-b-4 border-spacing-y-6 font-medium transition-colors duration-300 ease-out border-transparent hover:border-collapse hover:border-white hover:text-white gap-x-2"><i
                                        class="fa-regular fa-newspaper"></i>Blog</a>
                            </li>
                        </ul>
                    </div>
                    <div class="hidden xl:block xl:w-auto xl:ml-7"></div>
                </div>
                <!-- End Navbar Menu -->

                <!-- Start Search, Login -->
                <div class=" h-full items-center flex gap-x-1 md:gap-x-2  gap-y-4 md:flex-row md:gap-y-0">
                    <!-- Search -->
                    <div
                        class="transition-colors duration-300 ease-out hover:text-white hover:bg-slate-600  w-10 h-10 items-center flex justify-center rounded-md focus:text-white focus:bg-slate-600">
                        <button id="searchBtn" type="button" class="font-medium md:text-2xl text-lg "><i
                                class="fa-solid fa-magnifying-glass"></i></button>

                    </div>
                    <!-- Search Form -->
                    <div id="searchModal" class="modal hidden z-50">
                        <div class="w-screen h-screen fixed inset-0 bg-slate-700 bg-opacity-80 left-0 top-0 closeBtn">
                        </div>
                        <form action=""
                            class="absolute -bottom-20 flex items-center self-end bg-slate-800 rounded-xl inset-0 mx-auto w-[300px] md:w-[600px] h-[50px] text-white">
                            <label for="nav-search" class="mx-2 pl-2">
                                <i class="fa-solid fa-magnifying-glass mr-2 "></i>
                            </label>
                            <input type="text" id="nav-search" placeholder="Search..."
                                class="outline-none w-full h-full placeholder:italic rounded-r-lg border-none bg-slate-800 focus:outline-none focus:ring-0 focus:border-0 hover:rounded-lg">
                        </form>
                    </div>
                    <!--  -->
                    <!--  Cart  -->
                    <div class="">
                        <a href="#" id="cart"
                            class="font-medium text-lg md:text-2xl hover:text-white hover:bg-slate-600 mr-2 w-10 h-10 items-center flex justify-center rounded-md focus:text-white focus:bg-slate-600"><i
                                class="fa-solid fa-cart-shopping"></i></a>
                    </div>
                    <!-- User -->
                    <div class="relative" x-data="{ isOpen: false}">
                        <button @click="isOpen = !isOpen" class="flex items-center">
                            <img src="http://www.gravatar.com/avatar?d=mm" alt="avatar" class="w-8 h-8 rounded-full">
                            <i class="fa-solid fa-chevron-down ml-1.5 text-sm"></i>
                        </button>
                        <ul x-show="isOpen" @click.away="isOpen = false"
                            class="absolute font-normal bg-white shadow overflow-hidden rounded w-32 md:w-48 border mt-4 py-1 right-0 z-20 container-akun">
                            <li>
                                <a href="#" class="flex items-center px-3 py-3 hover:bg-gray-200">
                                    <i class="fa-solid fa-circle-user text-base md:text-xl"></i>
                                    <span class="ml-2">Akun</span>
                                </a>
                            </li>
                            <li class="border-b border-gray-400">
                                <a href="#" class="flex items-center px-3 py-3 hover:bg-gray-200">
                                    <i class="fa-solid fa-gear text-base md:text-xl"></i>
                                    <span class="ml-2">Settings</span>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="flex items-center px-3 py-3 hover:bg-gray-200">
                                    <i class="fa-solid fa-arrow-right-from-bracket text-base md:text-xl"></i>
                                    </svg><span class="ml-2">Logout</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!--  -->

                    <!-- End Search, Login -->
                </div>
            </div>

    </header>
    <!-- END Header -->

    <!-- Mobile Nav -->
    <!-- bg offcanvas -->
    <div
        class="bg-black hidden fixed  w-screen h-screen bg-opacity-85 md:hidden transition-all duration-500 ease-in-out z-40 background-offcanvas">
    </div>
    <!-- bg offcanvas -->
    <nav
        class="mnav bg-white fixed w-[300px]  h-screen -left-[300px] shadow-2xl md:hidden transition-all duration-300 ease-in-out z-50">

        <div class="btnNav w-8 h-8 relative -right-64 top-6 flex justify-center cursor-pointer transition-all  ">
            <button id="btnNavIcon" type="button" class="text-3xl ">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>

        <!-- Logo, List -->
        <div class="px-12 flex flex-col gap-y-2 top-0 ">
            <!-- logo -->

            <a href="#" class="self-start font-medium pl-2 pt-7 "><img src="../images/logo/logo aov.png" alt=""
                    srcset="" class="w-24 object-cover 0"></a>

            <!-- List -->
            <ul>
                <li class="w-auto rounded-lg flex my-2">
                    <a href="index.html"
                        class="hover:text-white rounded-lg transition-all duration-300 w-full hover:bg-sky-500"><i
                            class="fa-solid fa-house pl-2"></i><span class="pl-2">Home</span></a>
                </li>
                <li class="w-auto rounded-lg flex my-2">
                    <a href="games.html"
                        class="hover:text-white rounded-lg transition-all duration-300 w-full hover:bg-sky-500"><i
                            class="fa-solid fa-gamepad pl-2"></i><span class="pl-2">Games</span></a>
                </li>
                <li class="w-auto rounded-lg flex my-2">
                    <a href="#"
                        class="hover:text-white rounded-lg transition-all duration-300 w-full hover:bg-sky-500"><i
                            class="fa-solid fa-money-bill pl-2"></i><span class="pl-2">Transaksi</span></a>
                </li>
                <li class="w-auto rounded-lg flex my-2">
                    <a href="#"
                        class="hover:text-white rounded-lg transition-all duration-300 w-full hover:bg-sky-500"><i
                            class="fa-regular fa-newspaper pl-2"></i><span class="pl-2">Blog</span></a>
                </li>
            </ul>
        </div>

    </nav>
    <!-- End Mobile Nav-->

    <!-- Riwayat Transaksi -->
    <section class="mt-32 ">
        <div x-data="{ modelOpen: false }">
            <div class="mx-auto mt-8 max-w-screen-lg px-2 z-10">
                <div class="sm:flex sm:items-center sm:justify-between flex-col sm:flex-row">
                    <p class="flex-1 text-base font-bold text-gray-900">Riwayat Transaksi</p>

                    <div class="mt-4 sm:mt-0">
                        <div class="flex items-center justify-start sm:justify-end">
                            <div class="flex items-center">
                                <label for="" class="mr-2 flex-shrink-0 text-sm font-medium text-gray-900"> sort by:
                                </label>
                                <select name=""
                                    class="sm: mr-4 block w-full whitespace-pre rounded-lg border p-1 pr-10 text-base outline-none focus:shadow sm:text-sm">
                                    <option class="whitespace-no-wrap text-sm">Terkini</option>
                                </select>
                            </div>

                            <button type="button"
                                class="inline-flex cursor-pointer items-center rounded-lg border border-gray-400 bg-white py-2 px-3 text-center text-sm font-medium text-gray-800 shadow hover:bg-gray-100 focus:shadow">
                                <i class="fa-solid fa-file-arrow-down mr-2"></i>
                                Export to Pdf
                            </button>
                        </div>
                    </div>
                </div>

                <div class="mt-6 overflow-hidden rounded-xl border border-black shadow-xl drop-shadow-lg bg-white">
                    <table class="min-w-full border-separate border-spacing-y-2 border-spacing-x-2">
                        <thead class="hidden border-b lg:table-header-group">
                            <tr class="">
                                <td width="50%"
                                    class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-6">
                                    Faktur</td>

                                <td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-6">Tanggal
                                </td>

                                <td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-6">Jumlah</td>

                                <td class="whitespace-normal py-4 text-sm font-medium text-gray-500 sm:px-6">Status</td>
                            </tr>
                        </thead>

                        <tbody class="lg:border-gray-300">
                            <!--  -->
                            <tr class="">
                                <td width="50%" class="whitespace-no-wrap py-4 text-sm font-bold text-gray-900 sm:px-6">
                                    Valorant - Diamond 200
                                    <div class="mt-1 lg:hidden">
                                        <p class="font-normal text-gray-500">03 April, 2024</p>
                                    </div>
                                </td>

                                <td
                                    class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-500 sm:px-6 lg:table-cell">
                                    03 April, 2024</td>

                                <td class="whitespace-no-wrap py-4 px-6 text-right text-sm text-gray-600 lg:text-left">
                                    Rp. 100.000
                                    <button @click="modelOpen =!modelOpen"
                                        class="flex mt-1 ml-auto w-fit items-center rounded-full bg-blue-600 py-2 px-3 text-left text-xs font-medium text-white lg:hidden">
                                        Complete</button>
                                </td>

                                <td
                                    class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-500 sm:px-6 lg:table-cell">
                                    <button @click="modelOpen =!modelOpen"
                                        class="inline-flex items-center rounded-full bg-blue-600 py-2 px-3 text-xs text-white">
                                        Complete</button>
                                </td>
                            </tr>
                            <!--  -->
                            <!--  -->
                            <tr class="">
                                <td width="50%" class="whitespace-no-wrap py-4 text-sm font-bold text-gray-900 sm:px-6">
                                    Mobile Legend - Diamond 300
                                    <div class="mt-1 lg:hidden">
                                        <p class="font-normal text-gray-500">09 Januari, 2024</p>
                                    </div>
                                </td>

                                <td
                                    class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-500 sm:px-6 lg:table-cell">
                                    09 Januari, 2024</td>

                                <td class="whitespace-no-wrap py-4 px-6 text-right text-sm text-gray-600 lg:text-left">
                                    Rp. 200.000
                                    <div
                                        class="flex mt-1 ml-auto w-fit items-center rounded-full bg-red-200 py-1 px-2 text-left font-medium text-red-500 lg:hidden">
                                        Canceled</div>
                                </td>

                                <td
                                    class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-500 sm:px-6 lg:table-cell">
                                    <div
                                        class="inline-flex items-center rounded-full bg-red-200 py-1 px-2 text-red-500">
                                        Canceled</div>
                                </td>
                            </tr>
                            <!--  -->
                            <!--  -->
                            <tr class="">
                                <td width="50%" class="whitespace-no-wrap py-4 text-sm font-bold text-gray-900 sm:px-6">
                                    Valorant - Diamond 200
                                    <div class="mt-1 lg:hidden">
                                        <p class="font-normal text-gray-500">03 April, 2024</p>
                                    </div>
                                </td>

                                <td
                                    class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-500 sm:px-6 lg:table-cell">
                                    03 April, 2024</td>

                                <td class="whitespace-no-wrap py-4 px-6 text-right text-sm text-gray-600 lg:text-left">
                                    Rp. 100.000
                                    <div
                                        class="flex mt-1 ml-auto w-fit items-center rounded-full bg-blue-600 py-2 px-3 text-left text-xs font-medium text-white lg:hidden">
                                        Complete</div>
                                </td>

                                <td
                                    class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-500 sm:px-6 lg:table-cell">
                                    <div
                                        class="inline-flex items-center rounded-full bg-blue-600 py-2 px-3 text-xs text-white">
                                        Complete</div>
                                </td>
                            </tr>
                            <!--  -->
                            <!--  -->
                            <tr class="">
                                <td width="50%" class="whitespace-no-wrap py-4 text-sm font-bold text-gray-900 sm:px-6">
                                    Mobile Legend - Diamond 300
                                    <div class="mt-1 lg:hidden">
                                        <p class="font-normal text-gray-500">09 Januari, 2024</p>
                                    </div>
                                </td>

                                <td
                                    class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-500 sm:px-6 lg:table-cell">
                                    09 Januari, 2024</td>

                                <td class="whitespace-no-wrap py-4 px-6 text-right text-sm text-gray-600 lg:text-left">
                                    Rp. 200.000
                                    <div
                                        class="flex mt-1 ml-auto w-fit items-center rounded-full bg-red-200 py-1 px-2 text-left font-medium text-red-500 lg:hidden">
                                        Canceled</div>
                                </td>

                                <td
                                    class="whitespace-no-wrap hidden py-4 text-sm font-normal text-gray-500 sm:px-6 lg:table-cell">
                                    <div
                                        class="inline-flex items-center rounded-full bg-red-200 py-1 px-2 text-red-500">
                                        Canceled</div>
                                </td>
                            </tr>
                            <!--  -->
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Kertas Bon-->
            <div x-show="modelOpen"
                class="inset-0 fixed z-50 min-h-full overflow-y-auto w-full  bg-opacity-80 justify-center items-center flex " >
                <div x-cloak @click="modelOpen = false" x-show="modelOpen" 
                x-transition:enter="transition ease-out duration-300 transform"
                x-transition:enter-start="opacity-0" 
                x-transition:enter-end="opacity-100"
                x-transition:leave="transition ease-in duration-200 transform"
                x-transition:leave-start="opacity-100" 
                x-transition:leave-end="opacity-0"
                class="fixed inset-0 transition-opacity bg-gray-900 bg-opacity-80 "
            > </div>
                    <div class="md:w-1/3 md:h-auto bg-slate-200 rounded-xl px-3 py-5 pt-2 pb-2 z-10 xs:flex xs:w-full xs:items-center  ">
                        <div class="w-full h-full flex justify-between text-lg font-semibold">
                            <h3>Detail Link Pembayaran</h3>
                            <button @click="modelOpen = false">
                                <i class="fa-regular fa-circle-xmark"></i>
                            </button>
                        </div>

                        <div class="text-start flex flex-row mt-7 h-20 items-center">
                            <div class="flex items-center justify-center w-12 h-12 rounded-full bg-slate-400">
                                <i class="fa-solid fa-file-invoice w-6 h-6"></i>
                            </div>

                            <div class="ml-2 text-sm">
                                <p>Amount</p>
                                <h5 class="font-semibold text-lg">Rp. 1000</h5>
                            </div>
                        </div>

                        <div
                            class="relative flex h-8 w-[75%] items-center px-2 gap-2 border border-slate-600 rounded-md justify-between bg-gray-200 mb-2">
                            <label class=" w-full text-xs h-full mx-auto flex items-center">
                                https://www.facebook.com/?locale=id_ID
                            </label>
                            <button
                                class="h-6 flex top-1 z-10 select-none rounded bg-transparent py-2 px-4 text-center items-center text-xs font-semibold text-sky-600 hover:text-sky-800 transition-all"
                                type="button">
                                Copy <i class="fa-regular fa-copy ml-2"></i>
                            </button>
                        </div>

                        <hr class=" border border-slate-400 mx-auto " />

                        <div class="w-full relative flex flex-col text-sm pt-3">
                            <h5 class="font-semibold">Transaksi Link Pembayaran</h5>
                            <ul class="flex flex-col gap-y-2 mt-3 items-center ">
                                <li class=" flex flex-row justify-between w-5/6">Status
                                    <span
                                        class="px-2 py-1 leading-none font-semibold inline-block text-xs rounded-full bg-green-100 text-green-800">Paid</span>
                                </li>
                                <li class=" flex flex-row justify-between w-5/6">Create On
                                    <span class="px-2 py-1 leading-none inline-block text-xs">03 April, 2024</span>
                                </li>
                                <li class=" flex flex-row justify-between w-5/6">Expired On
                                    <span class="px-2 py-1 leading-none inline-block text-xs">03 April, 2024</span>
                                </li>
                                <li class=" flex flex-row justify-between w-5/6">Reference
                                    <span class="px-2 py-1 leading-none inline-block text-xs">097478</span>
                                </li>
                                <li class=" flex flex-row justify-between w-5/6">Note
                                    <span class="px-2 py-1 leading-none inline-block text-xs">Halo Sayang</span>
                                </li>
                            </ul>
                        </div>

                        <hr class=" border border-slate-400 mx-auto " />

                        <div class="pt-7">
                            <h5>Time Line</h5>
                            <!-- Created By Joker Banny -->
                            <div class="flex w-full items-center px-6 text-sm py-2">
                                <div class="space-y-6 border-l-2 border-dashed border-slate-600">
                                    <div class="relative w-full">
                                        <i class="fa-solid fa-circle-check absolute -top-0.5 z-10 -ml-3 h-6 w-6 rounded-full bg-white"
                                            style="color: #3b82f6;"></i>
                                        <div class="ml-6">
                                            <h4 class="font-bold text-blue-500">Created Payment Link</h4>
                                            <p class="mt-2 max-w-screen-sm text-sm text-gray-500">03 April, 2024 02.40
                                                PM
                                            </p>
                                        </div>
                                    </div>
                                    <div class="relative w-full">
                                        <i class="fa-solid fa-circle-check absolute -top-0.5 z-10 -ml-3 h-6 w-6 rounded-full bg-white"
                                            style="color: #3b82f6;"></i>
                                        <div class="ml-6">
                                            <h4 class="font-bold text-blue-500">Awaiting Paiment</h4>
                                            <p class="mt-2 max-w-screen-sm text-sm text-gray-500">Waiting for a payment
                                            </p>
                                        </div>
                                    </div>
                                    <div class="relative w-full">
                                        <i class="fa-solid fa-circle-check absolute -top-0.5 z-10 -ml-3 h-6 w-6 rounded-full bg-white"
                                            style="color: #3b82f6;"></i>
                                        <div class="ml-6">
                                            <h4 class="font-bold text-blue-500">Payment Complete</h4>
                                            <p class="mt-2 max-w-screen-sm text-sm text-gray-500">You Have received a
                                                payment of
                                            </p>
                                            <span class="mt-1 block text-sm font-semibold text-blue-500">Rp. 1000</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- button -->
                        <div class="w-full flex justify-end items-end pt-12">
                            <div class="flex text-sm gap-x-2">
                                <button type="button"
                                    class="h-8 px-2 border-b border-slate-700 hover:border-sky-500 hover:text-sky-500">Cancel
                                    Request</button>
                                <button type="button"
                                    class="h-8 px-2 rounded-lg bg-sky-500 hover:bg-sky-700 hover:text-sky-400">Request
                                    this
                                    again</button>
                            </div>
                        </div>
                    </div>
               
            </div>
        </div>
    </section>
    <!-- Riwayat Transaksi -->

    <!-- Footer -->
    <footer class="p-4  sm:p-6 mt-20">
        <div class="mx-auto max-w-screen-xl">
            <div class="md:flex md:justify-between">
                <div class="mb-6 md:mb-0">
                    <a href="#" class="flex items-center">
                        <img src="../images/logo/logo aov.png" class="mr-3 h-8" alt="FlowBite Logo" />
                        <span class="self-center text-2xl font-semibold whitespace-nowrap dark:text-white">Nongi
                            TopUp</span>
                    </a>
                </div>
                <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</h2>
                        <ul class="text-gray-600 dark:text-gray-400">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Tailwin CSS</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Tailwind CSS</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Follow us</h2>
                        <ul class="text-gray-600 dark:text-gray-400">
                            <li class="mb-4">
                                <a href="#" class="hover:underline ">Instagram</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Facebook</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <h2 class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Legal</h2>
                        <ul class="text-gray-600 dark:text-gray-400">
                            <li class="mb-4">
                                <a href="#" class="hover:underline">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
            <div class="sm:flex sm:items-center sm:justify-between ">
                <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 <a href="#"
                        class="hover:underline">NongkiTopUp</a>. All Rights Reserved.
                </span>
                <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white"> <i
                            class="fa-brands fa-facebook"></i></a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white"> <i
                            class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white"> <i
                            class="fa-brands fa-whatsapp"></i>
                    </a>
                    <a href="#" class="text-gray-500 hover:text-gray-900 dark:hover:text-white"><i
                            class="fa-solid fa-phone"></i>
                    </a>

                </div>
            </div>
        </div>
    </footer>
    <!-- Footer -->

    <!-- Material tailwind -->
    <!-- <script src="node_modules/@material-tailwind/html@latest/scripts/ripple.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script> -->
    <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>


    <script src="../assets/fontawesome-free-6.5.1-web/fontawesome-free-6.5.1-web/js/all.js"></script>
    <!-- Swiper Js -->

    <script src="../js/swiper-bundle.min.js"></script>
    <!-- Scroll Reveale -->
    <script src="../js/scrollreveal.min.js"></script>
    <!-- main js -->
    <script src="../js/script.js"></script>
    <!--  -->
    <script src="../js/carouselSwiper.js"></script>
    <script src="../js/anchorLink.js"></script>
    <script src="../js/modal.js"></script>
    <script src="../js/dropdown.js"></script>
</body>

</html>