<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../public/css/output.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/node_modules/flowbite/dist/flowbite.min.css">
</head>

<body class="bg-slate-50">

    <!-- Start Header -->
    <header class="fixed w-full text-gray-700 bg-transparent shadow-sm px-4 z-50 ">
        <div class="container-xl flex flex-row items-center justify-between p-6 mx-auto md:flex-row md:justify-evenly ">
            <!-- Start Hamburger Menu -->
            <div class="w-auto block md:hidden ">
                <div class="flex items-center relative left hover:bg-gray-400 hover:rounded-sm ">
                    <button id="hamburger" type="button" class="px-2">
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                        <span class="hamburger-line"></span>
                    </button>
                </div>
            </div>
            <!-- End Hamburger Menu -->
            <!-- Navbar Brand -->
            <div class="w-auto">
                <a class="flex items-center font-medium text-gray-900 title-font md:mb-0">
                    <h2 class="font-bold poppins-semibold ">Topup Game</h2>
                </a>
            </div>
            <!-- Navbar Brand -->
            <div class="hidden md:block md:w-auto md:ml-7"></div>
            <!-- Start Navbar Menu -->
            <nav class="mx-5 hidden md:block">
                <ul id="menu" class="flex md:flex-row justify-center text-base  ">
                    <li class=" hover:bg-slate-500 hover:text-gray-900 mx-3 ">
                        <a href="#_" class="font-bold ">Home</a>
                    </li>
                    <li class=" hover:bg-slate-500 hover:text-gray-900 mx-3">
                        <a href="#_" class="font-medium0">About</a>
                    </li>
                    <li class=" hover:bg-slate-500 hover:text-gray-900 mx-3">
                        <a href="#_" class="font-medium">Contact</a>
                    </li>
                </ul>
            </nav>
            <!-- End Navbar Menu -->
            <!-- Start Search, Login -->
            <div class="items-center h-full mr-2 flex flex-nowrap">
                <button type="button" class="font-medium hover:text-gray-900 mr-5"><i
                        class="fa-solid fa-magnifying-glass"></i></button>
                <a href="#_" class="mr-5 font-medium hover:text-gray-900 hidden md:block">Login</a>
                <button type="button" class="mr-5 font-medium hover:text-gray-900 block md:hidden"><i
                        class="fa-solid fa-user"></i></button>
                <a href="#_"
                    class="px-4 py-2 text-xs font-bold text-white uppercase transition-all duration-150 bg-teal-500 rounded shadow outline-none active:bg-teal-600 hover:shadow-md focus:outline-none ease hidden md:block">
                    Sign Up
                </a>
            </div>
            <!-- End Search Login -->
        </div>
    </header>
    <!-- End Header -->

    <section class="flex items-center   ">
        <!-- Section Hero Left-side -->
        <div class=" m-auto px-3 md:px-12 pt-32 flex items-center hero">
            <div
                class="w-full absolute z-20 inset-0 md:relative md:w-1/2 text-center flex flex-col justify-center hero-caption md:text-start">
                <h1 class="text-3xl md:text-5xl leading-tight font-semibold">Top Up Games <br class="" />And Lets Start
                    <br class="">Games Together
                </h1>
                <h2 class="px-8 text-base md:px-0 md:text-lg my-6 tracking-wide">A Place Top Up Game
                    <br class="hidden lg:block" />
                    fast, safe, reliable, legal
                </h2>
            </div>
            <!-- Section Hero Left-side -->
            <div class="w-full inset-0 md:relative md:w-1/2">
                <div class="relative hero-image">
                    <div class="overlay inset-0 bg-black opacity-30 z-10"></div>
                    <img class="absolute inset-0 md:relative w-full h-full object-cover object-center"
                        src="https://tailus.io/sources/blocks/food-delivery/preview/images/food.webp"
                        alt="House with Sofa">
                </div>
            </div>
        </div>
    </section>

    <!-- Start Clients -->
    <section class="container mx-auto pt-9">
        <div class="flex justify-center flex-wrap">
          <div class="w-full flex-auto md:w-auto md:flex-initial px-4 md:px-6 my-4 items-center">
            <img src="/src/images/logo/logo-pubg.png" alt="logo adome" class="mx-auto w-32 h-auto object-cover object-center" />
          </div>
          <div class="w-full flex-auto md:w-auto md:flex-initial px-4 md:px-6 my-4 items-center ">
            <img src="/src/images/logo/logo valorant.png" alt="logo adome" class="mx-auto w-32 h-auto object-cover object-center" />
          </div>
          <div class="w-full flex-auto md:w-auto md:flex-initial px-4 md:px-6 my-4">
            <img src="/src/images/logo/logo apexLegends.png" alt="logo adome" class="mx-auto w-32 h-auto object-cover object-center" />
          </div>
          <div class="w-full flex-auto md:w-auto md:flex-initial px-4 md:px-6 my-4">
            <img src="/src/images/logo/logo warzone.png" alt="logo adome" class="mx-auto w-32 h-auto object-cover object-center" />
          </div>
          <div class="w-full flex-auto md:w-auto md:flex-initial px-4 md:px-6 my-4">
            <img src="/src/images/logo/logo aov.png" alt="logo adome" class="mx-auto w-32 h-auto object-cover object-center" />
          </div>
        </div>
      </section>
    <!-- End Clients -->

    <!--  Features -->




    <!-- START: SECTION HERO -->
    <!-- <section class="relative bg-sky-700 min-h-36">
        <div class="container m-auto px-3 pt-32 md:px-12">
            <div class="flex text-center items-center flex-wrap px-2 md:text-start md:px-0">
                <div class="relative md:w-6/12 md:py-24 xl:py-32 ">
                    <h1 class="font-semibold text-3xl leading-tight text-slate-50 md:text-4xl lg:w-10/12"> 
                        Top Up Games <br class="" />And Lets Start <br class="">Games Together
                    </h1>
                    <p class="mt-8 text-white lg:w-10/12">A Place Top Up Game fast, safe, reliable, legal</p>
                    
                </div>
                <div class="ml-auto -mb-24 lg:-mb-56 lg:w-6/12">
                    <img src="https://tailus.io/sources/blocks/food-delivery/preview/images/food.webp" class="relative" alt="food illustration" loading="lazy" width="4500" height="4500">

                </div>
            </div>
        </div>

    </section> -->

    <!-- END: SECTION HERO -->

    <div id="carousel" class="pt-10 md:-mt-36 flex flex-row  relative overflow-hidden ">

        <!-- Start Card Carousel 1-->
        <div class="card relative col-span-9 row-span-1 md:col-span-4 px-2">
            <div class="w-full h-[216px] rounded-xl">
                <img src="../images/content/car-1.png" alt="" srcset=""
                    class="w-full h-full object-cover overflow-hidden rounded-xl">
            </div>
            <div class="overlay left-0 top-0 bottom-0 flex justify-center flex-col pl-5">
                <h5 class="text-lg md:text-2xl font-semibold text-white">
                    Nongki Top Up
                </h5>
                <span class="text-lg font-medium text-white md:text-xl">Dapatkan 10% Promo <br class="" />
                    with code: Glory10</span>
            </div>
            <a href="details.html" class="stretched-link">
                <!-- fake children -->
            </a>
        </div>
        <!-- End Card Carousel 1 -->

        <!-- Start Card Carousel 2-->
        <div class="card relative col-span-9 row-span-1 md:col-span-4 px-2 ">
            <div class="w-full h-[216px] rounded-xl  ">
                <img src="../images/content/car-3.png" alt="" srcset=""
                    class="w-full h-full object-cover overflow-hidden rounded-xl ">
            </div>
            <div class="overlay left-0 top-0 bottom-0 flex justify-center flex-col pl-5">
                <h5 class="text-lg md:text-2xl font-semibold text-white">
                    Ultimate $50K Winter Clash
                </h5>
                <span class="text-lg font-medium text-white md:text-xl">Join yhe frosty fray and <br class="" />
                    come out on top</span>
            </div>
            <a href="details.html" class="stretched-link">
                <!-- fake children -->
            </a>
        </div>
        <!-- End Card Carousel 2 -->
        <!-- Start Card Carousel 3-->
        <div class="card relative col-span-9 row-span-1 md:col-span-4 px-2">
            <div class="w-full h-[216px] rounded-xl">
                <img src="../images/content/car-3.png" alt="" srcset=""
                    class="w-full h-full object-cover overflow-hidden rounded-xl">
            </div>
            <div class="overlay left-0 top-0 bottom-0 flex justify-center flex-col pl-5">
                <h5 class="text-lg md:text-2xl font-semibold text-white">
                    Ultimate $50K <br> Winter Clash
                </h5>
                <span class="text-lg font-medium text-white md:text-xl">Join yhe frosty fray and <br class="" />
                    come out on top</span>
            </div>
            <a href="details.html" class="stretched-link">
                <!-- fake children -->
            </a>
        </div>

        <!-- End Card Carousel 3 -->
    </div>




    <div id="accordion-flush" data-accordion="collapse" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400 ">
        <h2 id="accordion-flush-heading-1">
          <button type="button" class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
            <span>Resource</span>
            <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
          </button>
        </h2>
        <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
            <ul class="text-gray-600 dark:text-gray-400">
                <li class="mb-4">
                    <a href="#" class="hover:underline">Tailwin CSS</a>
                </li>
                <li>
                    <a href="#" class="hover:underline">Tailwind CSS</a>
                </li>
            </ul>
        </div>


 <!-- Start: Pilih Pembayaran -->
 <div id="accordion-flush" data-accordion="collapse" class="w-full">
    <!-- Accordion 1 -->
    <button id="accordion-heading-1" type="button"
        class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3 rounded-2xl px-2"
        data-accordion-target="#accordion-body-1" aria-expanded="true"
        aria-controls="accordion-body-1">
        <h2>E-Wallet</h2>
        <svg data-accordion-icon class="w-4 h-3 rotate-180 shrink-0"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
        </svg>
    </button>
    <!-- Accordion Content -->
    <div id="accordion-body-1" class="" aria-labelledby="accordion-heading-1">
        <div class="text-white py-5  flex flex-col gap-2 ">
            <!-- Start Card 1 -->
            <div
                class="w-auto flex-auto md:flex-initial px-4 md:px-4 items-center relative flex rounded-xl duration-300 ease-in-out hover:shadow-2xl hover:ring-2 hover:ring-primary-500 hover:ring-offset-2 hover:ring-offset-white md:gap-x-3 md:rounded-2x md:p-3 border-2 h-[80px] cursor-pointer ">
                <div class="w-32 h-[60px] relative rounded-xl">
                    <img src="../images/logo/logoDana.png" alt="Game Logo"
                        class=" aspect-square h-full w-full rounded-lg !object-contain !object-center md:rounded-xl left-0">
                </div>
                <div
                    class="relative flex w-full flex-col text-white text-start justify-start pl-2">
                    <h4 class=" truncate text-xxs font-semibold  md:text-base">
                        Dana</h4>
                    <p class="text-xxs md:text-sm">Dicek Otomatis</p>
                    <p class="text-xs md:text-sm mt-1">Rp. 1000</p>
                </div>
            </div>
            <!-- End Card 1 -->
            <!-- Start Card 1 -->
            <div
                class="w-auto flex-auto md:flex-initial px-4 md:px-4 items-center relative flex rounded-xl duration-300 ease-in-out hover:shadow-2xl hover:ring-2 hover:ring-primary-500 hover:ring-offset-2 hover:ring-offset-white md:gap-x-3 md:rounded-2x md:p-3 border-2 h-[80px] cursor-pointer ">
                <div class="w-32 h-[60px] relative rounded-xl">
                    <img src="../images/logo/Shopepay logo.png" alt="Game Logo"
                        class=" aspect-square h-full w-full rounded-lg !object-contain !object-center md:rounded-xl left-0">
                </div>
                <div
                    class="relative flex w-full flex-col text-white text-start justify-start pl-2">
                    <h4 class=" truncate text-xxs font-semibold  md:text-base">
                        Shoope Pay</h4>
                    <p class="text-xxs md:text-sm">Dicek Otomatis</p>
                    <p class="text-xs md:text-sm mt-1">Rp. 1000</p>
                </div>

            </div>
            <!-- End Card 1 -->
        </div>
    </div>
    <!-- Accordion 1 -->

    <!-- Accordion 2 -->
    <button id="accordion-heading-2" type="button"
        class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3 rounded-2xl px-2 mt-4"
        data-accordion-target="#accordion-body-2" aria-expanded="true"
        aria-controls="accordion-body-2">
        <h2>Virtual Account</h2>
        <svg data-accordion-icon class="w-4 h-3 rotate-180 shrink-0"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
        </svg>
    </button>
    <!-- Accordion Content -->
    <div id="accordion-body-2" class="hidden" aria-labelledby="accordion-heading-2">
        <div class="text-white py-5  flex flex-col gap-2">
            <!-- Start Card 1 -->
            <div
                class="w-auto flex-auto md:flex-initial px-4 md:px-4 items-center relative flex rounded-xl duration-300 ease-in-out hover:shadow-2xl hover:ring-2 hover:ring-primary-500 hover:ring-offset-2 hover:ring-offset-white md:gap-x-3 md:rounded-2x md:p-3 border-2 h-[80px] cursor-pointer ">
                <div class="w-32 h-[60px] relative rounded-xl">
                    <img src="../images/logo/logoDana.png" alt="Game Logo"
                        class=" aspect-square h-full w-full rounded-lg !object-contain !object-center md:rounded-xl left-0">
                </div>
                <div
                    class="relative flex w-full flex-col text-white text-start justify-start pl-2">
                    <h4 class=" truncate text-xxs font-semibold  md:text-base">
                        Dana</h4>
                    <p class="text-xxs md:text-sm">Dicek Otomatis</p>
                    <p class="text-xs md:text-sm mt-1">Rp. 1000</p>
                </div>
            </div>
            <!-- End Card 1 -->

        </div>
    </div>
    <!-- Accordion 2 -->
    <!-- Accordion 3 -->
    <button id="accordion-heading-3" type="button"
        class="flex items-center justify-between w-full py-5 font-medium rtl:text-right text-gray-500 border-b border-gray-200 dark:border-gray-700 dark:text-gray-400 gap-3 rounded-2xl px-2 mt-4"
        data-accordion-target="#accordion-body-3" aria-expanded="true"
        aria-controls="accordion-body-3">
        <h2>Indomaret</h2>
        <svg data-accordion-icon class="w-4 h-3 rotate-180 shrink-0"
            aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round"
                stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
        </svg>
    </button>
    <!-- Accordion Content -->
    <div id="accordion-body-3" class="hidden" aria-labelledby="accordion-heading-3">
        <div class="text-white py-5  flex flex-col gap-2">
            <!-- Start Card 1 -->
            <div
                class="w-auto flex-auto md:flex-initial px-4 md:px-4 items-center relative flex rounded-xl duration-300 ease-in-out hover:shadow-2xl hover:ring-2 hover:ring-primary-500 hover:ring-offset-2 hover:ring-offset-white md:gap-x-3 md:rounded-2x md:p-3 border-2 h-[80px] cursor-pointer ">
                <div class="w-32 h-[60px] relative rounded-xl">
                    <img src="../images/logo/logoDana.png" alt="Game Logo"
                        class=" aspect-square h-full w-full rounded-lg !object-contain !object-center md:rounded-xl left-0">
                </div>
                <div
                    class="relative flex w-full flex-col text-white text-start justify-start pl-2">
                    <h4 class=" truncate text-xxs font-semibold  md:text-base">
                        Dana</h4>
                    <p class="text-xxs md:text-sm">Dicek Otomatis</p>
                    <p class="text-xs md:text-sm mt-1">Rp. 1000</p>
                </div>
            </div>
            <!-- End Card 1 -->

        </div>
    </div>
    <!-- Accordion 3 -->
</div>
<!-- End: Pilih Pembayaran -->

</div>

    <div class="mb-96"></div>
    <script src="../js/hamburger.js"></script>
    <script src="https://kit.fontawesome.com/c1d2872a82.js" crossorigin="anonymous"></script>
    <script src="/node_modules/flowbite/dist/flowbite.min.js"></script>
 
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../js/accordionFlowbite.js"></script>
</body>

</html>